.code-editor-wrapper {
  max-width: 100vw;
}
.lesson-json {
  word-break: break-all;
  width: 70%;
  margin-top: 2.5em;
  font-family: sans-serif;
  font-size: 0.75em;
  line-height: 1.4em;
  padding: 1em;
  background-color: #424242;
  color: white;
}
.editor-container {
  padding-top: 0.75em;
  padding-left: 0.35em;
  color: white;
  font-size: 2em;
  background-color: #676767;
  display: flex;
}
.instructions-code {
  width: 80%;
}
.editor-container .title {
  text-decoration: underline;
  margin-bottom: 0.5em;
}
.editor-container .description {
  margin-bottom: 1em;
  font-size: 0.75em;
}
.editor {
  width: 55%;
}
/* the token class will style input in a standard way */
.token {
  display: inline-block;
  padding-right: 0.5em;
}
textarea:focus,
input:focus {
  outline: none;
}
/* the user agent stylesheet was messing with the input's 
  font-size, so this was a quick fix */
input {
  font-size: 1em;
  color: white;
  text-align: center;
  padding-bottom: 0.25em;
}
.nav-links {
  height: auto;
}
.input-box {
  -webkit-appearance: none;
  background-color: transparent;
  display: inline-block;
  height: 1em;
  /* default width for when expected value is undefined */
  width: 6em;
  border: 2.5px solid white;
}
.input-box:hover {
  cursor: pointer;
}
.var-name {
  color: #89bdff;
}
.var-keyword {
  color: #fd5ff1;
}
.operator {
  color: #e6db74;
}
.string {
  color: #a6e22e;
}
