html, body, #root {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.app, .landing {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: $dark-gray;
  font-family: $main-font;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.375em;
}
p {
  max-width: 45em;
}
h1 {
  font-size: 3em;
  line-height: 1.05em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: 300;
}
h3 {
  color: $highlight-red;
  font-size: 2em;
  line-height: 1.65em;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: $highlight-red;
}
a:hover {
  color: $highlight-yellow;
}
nav {
  font-weight: 700;
  background-color: #151515;
  position: sticky;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;
  text-align: center;
  ul {
    height: 100%;
    display: flex;
    li {
      width: 7.5em;
      height: 100%;
      padding: 1em;
      font-size: 1.5em;
      border-right: 1px solid white;
      cursor: pointer;
    }
    li:nth-child(1):hover {
      box-shadow: 0 3.5px 2px -1px $highlight-red;
    }
    li:nth-child(2):hover {
      box-shadow: 0 3.5px 2px -1px $highlight-orange;
    }
    li:nth-child(3):hover {
      box-shadow: 0 3.5px 2px -1px $highlight-yellow;
    }
  }
}
.button {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  height: 3.5em;
  width: 10em;
  color: white;
  background-color: $highlight-red;
  border: 1px solid $highlight-red;
  margin: 0.5em;
  padding-top: 1em;
}
.button:hover {
  color: $light-gray;
  background-color: $highlight-yellow;
  border: 1px solid $highlight-yellow;
}
.outline-btn {
  color: $highlight-red;
  background-color: transparent;
}
.outline-btn:hover {
  background-color: transparent;
  color: $highlight-yellow;
  border: 1px solid $highlight-yellow;
}
.card {
  padding: 3em 6em 3em 2em;
  border-top: 5px solid white;
  background-color: $light-gray;
  border-radius: 2px;
  width: 50%;
}

