.code-editor-wrapper {
  width: 100%;
  height: calc(100% - 10em);
  margin: 3em;
  display: flex;
}
.token, input {
  font-size: 1.15em;
  font-family: monospace, sans-serif;
}
/* the token class will style input in a standard way */
.token {
  display: inline-block;
  padding-right: 0.5em;
}
textarea:focus,
input:focus {
  outline: none;
}
/* the user agent stylesheet was messing with the input's 
  font-size, so this was a quick fix */
input {
  color: white;
  text-align: center;
  padding-bottom: 0.25em;
}
.nav-links {
  height: auto;
}
.input-box {
  -webkit-appearance: none;
  background-color: transparent;
  display: inline-block;
  height: 1em;
  /* default width for when expected value is undefined */
  width: 6em;
  border: 2.5px solid white;
}
.input-box:hover {
  cursor: pointer;
}
.var-name {
  color: #89bdff;
}
.var-keyword {
  color: #fd5ff1;
}
.operator {
  color: #e6db74;
}
.string {
  color: #a6e22e;
}
