$main-font: sans-serif;

$dark-gray: #303030;
$light-gray: #505050;

$highlight-red: #FC7E7E;
$highlight-orange: #FCA17D;
$highlight-yellow: #FCEB7E;

$memory-green: #00E676;


// NEON COLOR THEME - would have to change variable names if we switched
// $highlight-red: #7EFCA8;
// $highlight-orange: #7EFCF4;
// $highlight-yellow: #FC7EBF;